*.ldb
*.log
*.index
*.data
shapechange/cimlklog.html
shapechange/cimlklog.xml
shapechange/shapechange_java.txt
ogr2ogr/output/wegverkeer_shape_rekenresultaat.dbf
ogr2ogr/output/wegverkeer_shape_rekenresultaat.prj
ogr2ogr/output/wegverkeer_shape_rekenresultaat.shp
ogr2ogr/output/wegverkeer_shape_rekenresultaat.shx
ogr2ogr/output/Correcties.csv
ogr2ogr/output/Maatregelen.csvt
ogr2ogr/output/Maatregelen.csv
ogr2ogr/output/Receptoren.csv
ogr2ogr/output/Rekenresultaten.csv
ogr2ogr/output/Maatregelen.prj
ogr2ogr/output/wegverkeer_shape_maatregel.dbf
ogr2ogr/output/wegverkeer_shape_maatregel.shp
ogr2ogr/output/wegverkeer_shape_maatregel.shx
ogr2ogr/output/wegverkeer_shape_maatregel.dbf
ogr2ogr/output/wegverkeer_shape_maatregel.shp
.idea/
